.tags-view-container {
    height: 34px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #d8dce5;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 0 3px 0 rgba(0, 0, 0, .04);

    .tags-view-wrapper {
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0 10px;

        .tags-view-item {
            display: inline-block;
            position: relative;
            cursor: pointer;
            height: 26px;
            line-height: 26px;
            border: 1px solid #d8dce5;
            color: #495060;
            background: #fff;
            padding: 0 8px;
            font-size: 12px;
            margin-left: 5px;
            margin-top: 4px;
            text-decoration: none;

            &:first-of-type {
                margin-left: 15px;
                border-radius: 50%;
                text-align: center;
                transition: all .3s cubic-bezier(.645, .045, .355, 1);
                transform-origin: 100% 50%;
                display: inline-flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background-color: #b4bccc;
                    color: #fff;
                }
            }
        }
    }
}